{% extends "base_col_1.html" %}
{% block title %}Home Page{% endblock %}

{% block pageContent %}

<form method="POST">
    <h3 align="center">Sincronizar Gastos</h3>
    <div class="form-group">
        <label for="usuario_cpf">CPF</label>
        <input type="text" class="form-control" id="usuario_cpf" name="usuario_cpf" placeholder="Insira seu CPF" />
    </div>
    <div class="form-group">
        <label for="data_inicio">Início do período</label>
        <input type="date" class="form-control" id="data_inicio" name="data_inicio"
            placeholder="Insira a data de início" />
    </div>
    <div class="form-group">
        <label for="data_fim">Fim do período</label>
        <input type="date" class="form-control" id="data_fim" name="data_fim" placeholder="Insira a data de término" />
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Sincronizar gastos</button>
</form>

{% endblock %}